:root {
  --width:40px;
}

body {
  /* background-color: black;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  zoom: 75%; */
  /* background-repeat: no-repeat; */
  width:100%;
  height: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-image: repeating-linear-gradient(
    to bottom right,
    #265077,
    #022140,
    #494b68,
    #1e4258,
    #2d575d
  );
}

/* Navigation Bar */
.container-fluid {
  padding: 1% 2% 0 2%;
  text-align: left;
}

.appName {
  font-size: 2rem;
  font-weight: bolder;
}
.navItemsList {
  margin-left: auto;
  font-size: 1.5rem;
  font-weight: bold;
}

.newArray {
  margin-right: 1rem;
}

.navDropdown {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Bars */
.barsCon {
  margin-top: 5%;
  height: 70vh;
}
.bar {
  width: var(--width);
  background-color: whitesmoke;
  margin-right: 2px;
  margin-left: 5px;
  display: inline-block;
  border-radius: 50px;
  box-shadow: 3px 5px #888888;
  transition: ease-out 0.3s;
}

/* Sort Btn */
.btn-lg {
  font-size: 1.75rem;
  border-radius: 50px;
  box-shadow: 5px 3px #888888;
  font-weight: bold;
  width: 225px;
}

 /* .bar:hover {
  transition: 0.3s ease-out;
  box-shadow: 10px 10px 10px 10px blue;
  width: 3%;
  margin: 0px 5px 0px 7px;
}  */

/* Just for fun  */

.header {
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#animateText {
  margin: 0.5%;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: xx-large;
  letter-spacing: 1vw;
  background: linear-gradient(90deg, #000, #1e4258, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 6s linear infinite;
  background-clip: text;
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: rgba(255, 255, 255, 0);   */
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
